html{
    scroll-behavior: smooth;
}

:root {
    font-family: Inter, sans-serif;
    font-size: 17px;
    line-height: 27px;
    font-feature-settings: 'liga' 1, 'calt' 1;

    --background: #121212;
    --surface: #1d1d1d;
    --primary: #ea80fc;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
        font-size: 16px;
        line-height: 26px;
    }
}

body {
    background-color: var(--background);
    color: rgb(148 163 184);
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    background: none;
    color: inherit;
}

h1 {
    font-size: 37px;
}

.primary {
    display: flex;
    min-height: 100vh;
    max-width: 1280px;
    padding: 0 3rem;
    margin: 0 auto;
}

.name {
    color: white;
}

.occupation-title {
    color: white;
    font-weight:500;
}

.left-panel {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    padding: 5rem 0rem;
    width: 45%;
    position: sticky;
    top: 0;
    justify-content: space-between;
}

.right-panel {
    padding-bottom: 5rem;
    width: 55%;
}

.aboutMe-container {
    padding-top: 5rem;
}

.bolded-link {
    color: white;
    font-weight: 500;
}

.relative {
    display: flex;
    justify-content: center;
    position: relative;
}

.card {
    display: flex;
    position: relative;
    width: 100%;
    margin: 1rem 0rem;
    padding: 1rem;
    border: none;

    div {
        display: flex;
    }

    & .duration {
        font-size: 0.8rem;
        width: 25%;
        padding-top: 0.3rem;
    }

    & .thumbnail {
        justify-content: center;
        width: 25%;
        padding-top: 0.3rem;
    }

    & .card-main {
        width: 75%;
        padding-left: 1rem;
        flex-direction: column;

        & .card-description {
            padding-top: 1rem;
        }
    }

    & .card-title {
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
    }

    & .card-title:hover {
        color: var(--primary);
        cursor: pointer;
    }
    
    & .arrow-link-svg {
        width: 1.25rem;
        height: 1.25rem;
    }

    & .tech-stack {
        flex-wrap: wrap;
        margin-top: 1rem;

        & .tech {
            background-color: var(--primary);
            margin-top: 0.5rem;
            margin-right: 0.5rem;
            padding: 0.5rem;
            border-radius: 1000rem;
            align-items: center;
            font-size: 0.8rem;
            color: black;
        }
    }
}

.card:hover {
    border: 0 solid white;
    border-radius: 10px;
    background-color: var(--surface);
}

.section-header {
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
    font-size: 1.4rem;
    font-weight: 550;
    color: white;
    position: sticky;
    top: -1px;
    height: 8rem;
    background-color: var(--background);
    z-index: 1000;
    display: flex;
    align-items: flex-end;
}

img.thumbnail-img {
    align-self: baseline;
    width: 150px;
    height: auto;
    border: 1px solid white;
}

.socials a {
    margin-right: 1rem;
}

.socials a:hover {
    color: var(--primary);
}

.logo-svg {
    width: 2rem;
    height: 2rem;
}

.flex {
    display: flex;
}

#footer {
    display: flex;
    margin-top: 5rem;
    font-size: 0.85rem;
}

.toc-list {
    list-style: none;
    padding: 0;
    width: 60%;

    & a {
        display: block;
        padding: 0.5rem;
        border-left: 1px solid white;
    }

    & a:hover {
        color: white;
    }

    & .active {
        background-color: var(--primary);
        border-left: 3px solid white;
        color: black;
        font-weight: 600;
    }
}

@media (max-width: 1024px) {
    .toc-nav {
        display: none;
    }

    .left-panel {
        position: static;
        width: 100%;
    }

    .right-panel {
        width: 100%;
    }

    .primary {
        flex-direction: column;
    }

    .section-header {
        height: 4rem;
    }
    
    .experience, .project {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 768px) {
    .primary {
        padding: 0 1rem;
    }
}

@media (max-width: 630px) {
    .card {
        flex-direction: column;
        padding: 1rem 0rem;

        & .card-main {
            width: 100%;
            padding-left: 0;
        }

        & .duration {
            width: 100%;
        }

        & .thumbnail {
            display: none;
        }
    }
}
