@font-face {
    font-family: montserrat;
    src: url('Montserrat-VariableFont_wght.ttf')foramt('truetype');
}

html{
    font-family: montserrat,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    background-color: #0F172A;
    color: rgb(148 163 184);
    margin: 0;
    padding: 0;
}

.primary {
    display: flex;
    min-height: 100vh;
    max-width: 1280px;
    padding: 0 3rem;
}

.name, .occupation-title, .personal-introduction {
    margin: 10px 0px;
}

.name {
    color: white;
}

.occupation-title {
    color: white;
    font-weight:400;
}

.left-panel {
    display: flex;
    /* background-color: yellow; */
    flex-direction: column;
    max-height: 100vh;
    padding: 3rem 0rem;
    width: 45%;
    position: sticky;
    top: 0;
}

.right-panel {
    padding-left: 1rem;
    /* background-color: red; */
    padding: 3rem 0rem;
    width: 55%;
    height: 2000px;
}

.relative {
    display: flex;
    justify-content: center;
    position: relative;
}
